* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Caudex";
  font-size: 1.4rem;
  background-color: #f9fafb;

  line-height: 1.65;
  color: #333;
}
h1,
h2,
h3 {
  font-family: "Merriweather";
}
h1 {
  font-size: clamp(1.8rem, 5vh, 2.5rem);
  margin-bottom: -15px;
}
h2 {
  text-align: center;
  margin-bottom: 1.6rem;
  font-size: 3rem;
  letter-spacing: 0.1em;
}
h2::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3px;
  background: #d4af37;
  margin: 0.5rem auto 1rem;
  text-align: center;
}
h3 {
  font-size: 2rem;
  font-weight: 800;
  color: #222;
}
h4 {
  font-size: 1.5rem;
  color: #222;
}
h3::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3px;
  background: #d4af37;
  margin: 0.5rem auto 1rem;
}
section {
  margin-bottom: 4rem;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.skip-link {
  position: absolute;
  top: -3em;
  background: black;
  color: white;
  z-index: 3;
  padding: 0.5rem 1rem;
}
.skip-link:focus {
  top: 0;
}
nav {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background-color: #7f1915;

  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  position: sticky;
  top: 0;
  z-index: 2;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;

  color: #eee;
  font-family: "Cormorant";
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  position: absolute;
  top: 100%;
  left: 0;

  background-color: rgba(252, 250, 245, 0.97);
  width: 100%;

  opacity: 0;

  transition:
    opacity 250ms ease,
    transform 250ms ease;
  transform: translateY(-10px);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navigation a {
  color: #a8893c;
}
.navigation a:hover {
  color: #b89b2e;
}
.social-links svg {
  width: 50px;
  height: 50px;
  stroke: #a8893c;
}
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: transparent;
  border: none;
  transition: transform 0.3s ease;
  padding: 7.5px 3px;
}
.hamburger span {
  width: 42px;
  height: 3px;
  display: inline-block;
  background-color: #eee;
}
.hamburger span {
  transition:
    transform 500ms ease,
    opacity 500ms ease;
}

.hamburger.open {
  transform: rotate(180deg);
}

.hamburger.open span:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
.hamburger.open span:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open + .nav-container .navigation {
  opacity: 1;
  transform: translateY(0);
}
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
.navigation[hidden] {
  pointer-events: none;
}

/*      */
.landing {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(assets/images/church.webp);
  background-size: cover;
  background-repeat: none;
  background-position: center center;

  color: #fff;
  text-align: center;
}
.landing h2 {
  font-size: 2.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.landing img {
  width: 50%;
  border-radius: 16px;
  align-self: center;
}
.landing article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
}
.landing p {
}

.landing a {
  align-self: center;
  border-radius: 16px;
  text-decoration-color: #fff;
  max-width: 125px;
}

.landing a:hover .link-background {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
  background-color: #d4af37;
  text-decoration-color: #fff;
}
.link-background {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition:
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s ease,
    box-shadow 0.25s ease;

  padding: 0.6rem 2rem;
  inset: 0;
  background-color: #b89b2e;
  border-radius: 16px;
  text-align: center;
}
/*  */

.mass-times {
  padding: 2rem;
  padding-block: 4rem;
}
.card-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 2rem;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.06),
    0 12px 24px rgba(0, 0, 0, 0.08);

  max-width: 600px;
  border-radius: 16px;
  background-color: #fff;
}
.card-text {
  width: 100%;
  text-align: center;
}
.card-image {
  width: 100%;
  aspect-ratio: 16 /9;
  object-fit: cover;
  border-radius: 8px;
}
.image-container {
  position: relative;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.image-container::after {
  content: "";
  position: absolute;

  background: rgba(0, 0, 0, 0.15);
}
.small-text {
  display: block;
  font-size: 1rem;
}

@media (min-width: 700px) {
  .navigation {
    flex-direction: row;
    position: static;
    opacity: 1;
    background: transparent;
    flex-basis: content;
    align-items: center;
    transform: translateY(0px);
    width: auto;
  }
  .nav-container {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  .navigation a {
    color: #eee;
    padding: 11.5px 0;
  }
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-links svg {
    width: 50px;
    height: 50px;
    color: #000;
  }

  .hamburger {
    display: none;
  }
  .logo {
    margin-right: auto;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .card {
    flex: 1 1 0;
    min-width: 300px;
  }
}
